<a href="https://colab.research.google.com/github/SohyunKimmm/SohyunKimmm/blob/main/230112_%EB%84%A4%EC%9D%B4%EB%B2%84_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%9E%A9_api_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import urllib.request
import json

#접속해서 들어가기
client_id = "zFriq6PpTlaRn1CeJhvJ"
client_secret = "sY7aqQSn9l"

url = "https://openapi.naver.com/v1/datalab/search"
body = "{\
         \"startDate\":\"2022-12-01\",\
         \"endDate\":\"2023-01-26\",\
         \"timeUnit\":\"date\",\
         \"keywordGroups\":[{\"groupName\":\"삼성\",\"keywords\":[\"삼성\",\"samsung\"]}],\
         \"device\":\"pc\",\
         \"ages\":[\"1\",\"2\",\"3\",\"4\",\"5\"]\
         }";

#네이버에 저장되어있는 형식코드를 받아서 데이터프레임에 맞춰서 분해하는 작업
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")

response = urllib.request.urlopen(request, data=body.encode("utf-8"))

rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    response_data = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

result = json.loads(response_data)

print(result)

date = [a['period'] for a in result['results'][0]['data']]
ratio_data1 = [a['ratio'] for a in result['results'][0]['data']]


pd.DataFrame({'date':date,
        'seraching_result':ratio_data1})

{'startDate': '2022-12-01', 'endDate': '2023-01-26', 'timeUnit': 'date', 'results': [{'title': '삼성', 'keywords': ['삼성', 'samsung'], 'data': [{'period': '2022-12-01', 'ratio': 100}, {'period': '2022-12-02', 'ratio': 68.77523}, {'period': '2022-12-03', 'ratio': 23.75504}, {'period': '2022-12-04', 'ratio': 33.37819}, {'period': '2022-12-05', 'ratio': 64.26648}, {'period': '2022-12-06', 'ratio': 59.08479}, {'period': '2022-12-07', 'ratio': 61.64199}, {'period': '2022-12-08', 'ratio': 59.75773}, {'period': '2022-12-09', 'ratio': 57.13324}, {'period': '2022-12-10', 'ratio': 26.98519}, {'period': '2022-12-11', 'ratio': 31.965}, {'period': '2022-12-12', 'ratio': 61.30551}, {'period': '2022-12-13', 'ratio': 56.52759}, {'period': '2022-12-14', 'ratio': 55.92193}, {'period': '2022-12-15', 'ratio': 52.69179}, {'period': '2022-12-16', 'ratio': 46.0296}, {'period': '2022-12-17', 'ratio': 27.59084}, {'period': '2022-12-18', 'ratio': 30.41722}, {'period': '2022-12-19', 'ratio': 54.10497}, {'period': '2022-12-20', 'ratio': 50.20188}, {'period': '2022-12-21', 'ratio': 53.8358}, {'period': '2022-12-22', 'ratio': 51.48048}, {'period': '2022-12-23', 'ratio': 40.84791}, {'period': '2022-12-24', 'ratio': 22.34185}, {'period': '2022-12-25', 'ratio': 25.50471}, {'period': '2022-12-26', 'ratio': 55.45087}, {'period': '2022-12-27', 'ratio': 54.71063}, {'period': '2022-12-28', 'ratio': 53.36473}, {'period': '2022-12-29', 'ratio': 51.68236}, {'period': '2022-12-30', 'ratio': 40.30955}, {'period': '2022-12-31', 'ratio': 23.48586}, {'period': '2023-01-01', 'ratio': 25.97577}, {'period': '2023-01-02', 'ratio': 56.19111}, {'period': '2023-01-03', 'ratio': 56.46029}, {'period': '2023-01-04', 'ratio': 61.23822}, {'period': '2023-01-05', 'ratio': 56.66218}, {'period': '2023-01-06', 'ratio': 57.46971}, {'period': '2023-01-07', 'ratio': 27.38896}, {'period': '2023-01-08', 'ratio': 29.4751}, {'period': '2023-01-09', 'ratio': 62.7187}, {'period': '2023-01-10', 'ratio': 59.35397}, {'period': '2023-01-11', 'ratio': 57.06594}, {'period': '2023-01-12', 'ratio': 53.63391}, {'period': '2023-01-13', 'ratio': 51.00942}, {'period': '2023-01-14', 'ratio': 26.71601}, {'period': '2023-01-15', 'ratio': 30.28263}, {'period': '2023-01-16', 'ratio': 57.06594}, {'period': '2023-01-17', 'ratio': 55.0471}, {'period': '2023-01-18', 'ratio': 50.87483}, {'period': '2023-01-19', 'ratio': 51.61507}, {'period': '2023-01-20', 'ratio': 40.51144}, {'period': '2023-01-21', 'ratio': 22.67833}, {'period': '2023-01-22', 'ratio': 21.7362}, {'period': '2023-01-23', 'ratio': 25.97577}, {'period': '2023-01-24', 'ratio': 35.26244}, {'period': '2023-01-25', 'ratio': 64.67025}, {'period': '2023-01-26', 'ratio': 63.39165}]}]}

          date  seraching_result
0   2022-12-01         100.00000
1   2022-12-02          68.77523
2   2022-12-03          23.75504
3   2022-12-04          33.37819
4   2022-12-05          64.26648
5   2022-12-06          59.08479
6   2022-12-07          61.64199
7   2022-12-08          59.75773
8   2022-12-09          57.13324
9   2022-12-10          26.98519
10  2022-12-11          31.96500
11  2022-12-12          61.30551
12  2022-12-13          56.52759
13  2022-12-14          55.92193
14  2022-12-15          52.69179
15  2022-12-16          46.02960
16  2022-12-17          27.59084
17  2022-12-18          30.41722
18  2022-12-19          54.10497
19  2022-12-20          50.20188
20  2022-12-21          53.83580
21  2022-12-22          51.48048
22  2022-12-23          40.84791
23  2022-12-24          22.34185
24  2022-12-25          25.50471
25  2022-12-26          55.45087
26  2022-12-27          54.71063
27  2022-12-28          53.36473
28  2022-12-29          51.68236
29  2022-12-30          40.30955
30  2022-12-31          23.48586
31  2023-01-01          25.97577
32  2023-01-02          56.19111
33  2023-01-03          56.46029
34  2023-01-04          61.23822
35  2023-01-05          56.66218
36  2023-01-06          57.46971
37  2023-01-07          27.38896
38  2023-01-08          29.47510
39  2023-01-09          62.71870
40  2023-01-10          59.35397
41  2023-01-11          57.06594
42  2023-01-12          53.63391
43  2023-01-13          51.00942
44  2023-01-14          26.71601
45  2023-01-15          30.28263
46  2023-01-16          57.06594
47  2023-01-17          55.04710
48  2023-01-18          50.87483
49  2023-01-19          51.61507
50  2023-01-20          40.51144
51  2023-01-21          22.67833
52  2023-01-22          21.73620
53  2023-01-23          25.97577
54  2023-01-24          35.26244
55  2023-01-25          64.67025
56  2023-01-26          63.39165