<a href="https://colab.research.google.com/github/SohyunKimmm/SohyunKimmm/blob/main/230112_%EB%84%A4%EC%9D%B4%EB%B2%84_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%9E%A9_api_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import urllib.request
import json

#접속해서 들어가기
client_id = "64J7PO6G9kbeeVR_PpCj"
client_secret = "XfggZ7TSz8"

url = "https://openapi.naver.com/v1/datalab/search"
body = "{\
         \"startDate\":\"2022-12-01\",\
         \"endDate\":\"2023-01-26\",\
         \"timeUnit\":\"date\",\
         \"keywordGroups\":[{\"groupName\":\"삼성\",\"keywords\":[\"삼성\",\"samsung\"]}],\
         \"device\":\"pc\",\
         \"ages\":[\"1\",\"2\"],\
         \"gender\":\"f\"\
         }";

#네이버에 저장되어있는 형식코드를 받아서 데이터프레임에 맞춰서 분해하는 작업
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")

response = urllib.request.urlopen(request, data=body.encode("utf-8"))

rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    response_data = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

result = json.loads(response_data)

print(result)

date = [a['period'] for a in result['results'][0]['data']]
ratio_data1 = [a['ratio'] for a in result['results'][0]['data']]


pd.DataFrame({'date':date,
        'seraching_result':ratio_data1})

{'startDate': '2022-12-01', 'endDate': '2023-01-26', 'timeUnit': 'date', 'results': [{'title': '삼성', 'keywords': ['삼성', 'samsung'], 'data': [{'period': '2022-12-01', 'ratio': 57.14285}, {'period': '2022-12-02', 'ratio': 61.90476}, {'period': '2022-12-03', 'ratio': 21.42857}, {'period': '2022-12-04', 'ratio': 45.23809}, {'period': '2022-12-05', 'ratio': 76.19047}, {'period': '2022-12-06', 'ratio': 66.66666}, {'period': '2022-12-07', 'ratio': 73.80952}, {'period': '2022-12-08', 'ratio': 73.80952}, {'period': '2022-12-09', 'ratio': 42.85714}, {'period': '2022-12-10', 'ratio': 64.28571}, {'period': '2022-12-11', 'ratio': 61.90476}, {'period': '2022-12-12', 'ratio': 57.14285}, {'period': '2022-12-13', 'ratio': 42.85714}, {'period': '2022-12-14', 'ratio': 66.66666}, {'period': '2022-12-15', 'ratio': 100}, {'period': '2022-12-16', 'ratio': 69.04761}, {'period': '2022-12-17', 'ratio': 66.66666}, {'period': '2022-12-18', 'ratio': 78.57142}, {'period': '2022-12-19', 'ratio': 85.71428}, {'period': '2022-12-20', 'ratio': 76.19047}, {'period': '2022-12-21', 'ratio': 78.57142}, {'period': '2022-12-22', 'ratio': 73.80952}, {'period': '2022-12-23', 'ratio': 40.47619}, {'period': '2022-12-24', 'ratio': 50}, {'period': '2022-12-25', 'ratio': 57.14285}, {'period': '2022-12-26', 'ratio': 69.04761}, {'period': '2022-12-27', 'ratio': 73.80952}, {'period': '2022-12-28', 'ratio': 57.14285}, {'period': '2022-12-29', 'ratio': 88.09523}, {'period': '2022-12-30', 'ratio': 42.85714}, {'period': '2022-12-31', 'ratio': 35.71428}, {'period': '2023-01-01', 'ratio': 47.61904}, {'period': '2023-01-02', 'ratio': 71.42857}, {'period': '2023-01-03', 'ratio': 35.71428}, {'period': '2023-01-04', 'ratio': 59.5238}, {'period': '2023-01-05', 'ratio': 21.42857}, {'period': '2023-01-06', 'ratio': 35.71428}, {'period': '2023-01-07', 'ratio': 26.19047}, {'period': '2023-01-08', 'ratio': 57.14285}, {'period': '2023-01-09', 'ratio': 30.95238}, {'period': '2023-01-10', 'ratio': 30.95238}, {'period': '2023-01-11', 'ratio': 45.23809}, {'period': '2023-01-12', 'ratio': 42.85714}, {'period': '2023-01-13', 'ratio': 38.09523}, {'period': '2023-01-14', 'ratio': 23.80952}, {'period': '2023-01-15', 'ratio': 28.57142}, {'period': '2023-01-16', 'ratio': 33.33333}, {'period': '2023-01-17', 'ratio': 40.47619}, {'period': '2023-01-18', 'ratio': 28.57142}, {'period': '2023-01-19', 'ratio': 38.09523}, {'period': '2023-01-20', 'ratio': 38.09523}, {'period': '2023-01-21', 'ratio': 26.19047}, {'period': '2023-01-22', 'ratio': 38.09523}, {'period': '2023-01-23', 'ratio': 42.85714}, {'period': '2023-01-24', 'ratio': 47.61904}, {'period': '2023-01-25', 'ratio': 64.28571}, {'period': '2023-01-26', 'ratio': 35.71428}]}]}

          date  seraching_result
0   2022-12-01          57.14285
1   2022-12-02          61.90476
2   2022-12-03          21.42857
3   2022-12-04          45.23809
4   2022-12-05          76.19047
5   2022-12-06          66.66666
6   2022-12-07          73.80952
7   2022-12-08          73.80952
8   2022-12-09          42.85714
9   2022-12-10          64.28571
10  2022-12-11          61.90476
11  2022-12-12          57.14285
12  2022-12-13          42.85714
13  2022-12-14          66.66666
14  2022-12-15         100.00000
15  2022-12-16          69.04761
16  2022-12-17          66.66666
17  2022-12-18          78.57142
18  2022-12-19          85.71428
19  2022-12-20          76.19047
20  2022-12-21          78.57142
21  2022-12-22          73.80952
22  2022-12-23          40.47619
23  2022-12-24          50.00000
24  2022-12-25          57.14285
25  2022-12-26          69.04761
26  2022-12-27          73.80952
27  2022-12-28          57.14285
28  2022-12-29          88.09523
29  2022-12-30          42.85714
30  2022-12-31          35.71428
31  2023-01-01          47.61904
32  2023-01-02          71.42857
33  2023-01-03          35.71428
34  2023-01-04          59.52380
35  2023-01-05          21.42857
36  2023-01-06          35.71428
37  2023-01-07          26.19047
38  2023-01-08          57.14285
39  2023-01-09          30.95238
40  2023-01-10          30.95238
41  2023-01-11          45.23809
42  2023-01-12          42.85714
43  2023-01-13          38.09523
44  2023-01-14          23.80952
45  2023-01-15          28.57142
46  2023-01-16          33.33333
47  2023-01-17          40.47619
48  2023-01-18          28.57142
49  2023-01-19          38.09523
50  2023-01-20          38.09523
51  2023-01-21          26.19047
52  2023-01-22          38.09523
53  2023-01-23          42.85714
54  2023-01-24          47.61904
55  2023-01-25          64.28571
56  2023-01-26          35.71428